{
   "parser": "babel-eslint",
   "extends": ["airbnb-base"],
   "rules": {
      "indent": ["error", 3],
      "comma-dangle": [
         "error",
         {
            "arrays": "never",
            "objects": "never",
            "imports": "never",
            "exports": "never",
            "functions": "never"
         }
      ]
   },
   "env": {
      "browser": true
   }
}
