$main-theme-color: rgba(#445566, 0.8);
$button-color-active: rgba(#aeb5b9, 0.5);
$button-color-inactive: rgba(#4c5255, 0.4);
$button-title-color: #fff;

$input-background-color: rgba(#4c5255, 0.4);
$input-border-color: rgba(#e4e3e3, 0.2);