@import './colors.scss', './mixins.scss', './font-sizes.scss';

html,
body {
   margin: 0;
   padding: 0;
}

body {
   background-color: $main-theme-color;
   font-family: 'Montserrat';
   font-size: 16px;
   color: $button-title-color;
   user-select: none;
}

.button {
   display: flex;
   align-items: center;
   background-color: $button-color-active;
   color: $button-title-color;
   cursor: pointer;

   @include for-small-screen {
      padding: 10px 12.5px;
   }

   @include for-tablet {
      padding: 10px 12.5px;
   }

   @include for-desktop {
      padding: 10px 12.5px;
   }

   @include for-large-screen {
      padding: 14px 16.5px;
   }
}

.container {
   margin: 0 auto;

   @include for-small-screen {
      max-width:#{$sm-device-width} -1px;
   }

   @include for-tablet {
      max-width: #{$md-device-width};
      padding: 10px 20px 0 20px;
   }

   @include for-desktop {
      max-width: #{$lg-device-width};
      padding: 15px 20px 0 20px;
   }

   @include for-large-screen {
      max-width: #{$xl-device-width};
      padding: 20px 30px 0 30px;
   }

   // Header

   .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 14px;
      font-weight: 600;
      .header__actions {
         display: flex;
         align-items: center;
         justify-content: space-between;

         @include for-tablet {
            max-width: 40%;
         }
      
         @include for-desktop {
            max-width: 30%;
         }
      
         @include for-large-screen {
            max-width: 25%;   
         }
         
         .button {
            margin-right: 15px;
            border-radius: 5px;
            .button__update{
               width: 14px;
               height: 18px;
            }
         }
         
         .dropdown{
            position: relative;
            max-height: 38px;

            &:after{
               content: '';
               display: inline-block;
               position: absolute;
               top:42%;
               right: 32%;
               width: 10px;
               height: 6px;
               background: url('../../assets/arrow-down_icon.svg');

               pointer-events: none;
               transition: all 300ms 0s ease-in-out;
            }

            &:hover:after{
               -webkit-transform: rotate(180deg);
               transform: rotate(180deg);
            }

            .dropdown__list{
               overflow: hidden;
               max-height: 38px;
               margin-right: 15px;
               border-radius: 5px;
               background-color: $button-color-active;

               &:hover{
                  background-color: $dropdown-list-color;
                  max-height: fit-content;
                  animation: dropdown 0.5s ease;
               }

               .dropdown__item{
                  z-index: 1;
                  padding:11px 25px 11px 12px;
                  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
                  background-color: $button-color-active;
                  cursor: pointer;
               }

               @keyframes dropdown {
                  from{
                     height: 38px;
                  }
                  to{
                     height: 124px;
                  }
               }
            }
         }

         .switcher {
            display: flex;
            .button{
               margin-right: 0;
            }

            .switcher__item{
               .switcher__title{
                  pointer-events: none;
               }  
            }

            .switcher__item_left {
               border-top-left-radius: 5px;
               border-bottom-left-radius: 5px;
               border-top-right-radius: 0;
               border-bottom-right-radius: 0;
            }
            .switcher__item_right {
               border-top-right-radius: 5px;
               border-bottom-right-radius: 5px;
               border-top-left-radius:0;
               border-bottom-left-radius:0;
            }

            .switcher__item_active {
               background-color: $button-color-active;
            }

            .switcher__item_inactive {
               background-color: $button-color-inactive;
            }
         }
      }

      .search {
         display: flex;
         align-items: center;
         max-width: 40%;
         .search__body {
            position: relative;
            display: flex;
            .search__input {
               background-color: $input-background-color;
               color: $button-title-color;
               border:none;

               @include for-small-screen {
               }
            
               @include for-tablet {
                  width: 180px;
                  padding: 11.5px 60px 11.5px 10px;
               }
            
               @include for-desktop {
                  width: 200px;
                  padding: 12px 60px 12px 13px;
               }
            
               @include for-large-screen {
                  width: 240px;
                  padding: 15.5px 60px 15.5px 15px;
               }

               &::placeholder {
                  font-family: 'Montserrat';
                  color: $button-title-color;

                  @include for-small-screen {
                  }
               
                  @include for-tablet {
                     font-size: 13px;
                  }
               
                  @include for-desktop {
                     font-size: 14px;
                  }
               
                  @include for-large-screen {
                     font-size: 15px;
                  }
               }

               &:focus {
                  outline: none;
                  color: $button-title-color;
               }
            }
            .search__voice {
               position: absolute;
               right: 10px;
               cursor: pointer;

               @include for-small-screen {
               }
            
               @include for-tablet {
                  top: 11px;
               }
            
               @include for-desktop {
                  top: 11px;
               }
            
               @include for-large-screen {
                  top: 15px;
               }
               
            }

            .search__home {
               position: absolute;
               right: 35px;
               cursor: pointer;

               @include for-small-screen {
               }
            
               @include for-tablet {
                  top: 11px;
               }
            
               @include for-desktop {
                  top: 11px;
               }
            
               @include for-large-screen {
                  top: 15px;
               }
               
            }
         }
      }
   }

   // END Header

   // CONTENT

   .content {
      
      @include for-small-screen {
         
      }
   
      @include for-tablet {
      }
   
      @include for-desktop {
         margin-top: 10px;
      }
   
      @include for-large-screen {
         margin-top: 0;
      }
      
      .location-date {
         .location-date__item {
            .location-date__text {
               @include for-small-screen {
               }
            
               @include for-tablet {
                  font-size: 28px;
               }
            
               @include for-desktop {
                  font-size: 38px;
               }
            
               @include for-large-screen {
                  font-size: 44px;
               }
               font-weight: 800;
            }

            .location-date__subtext {
               @include for-small-screen {
         
               }
            
               @include for-tablet {
                  font-size: 18px;
               }
            
               @include for-desktop {
                  font-size: 22px;
               }
            
               @include for-large-screen {
                  font-size: 24px;
               }
               
               font-weight: 500;
               letter-spacing: 0.5px;
            }
         }
      }

      .wrapper {
         display: flex;
         justify-content: space-between;
         align-items: center;
         .left-wrapper {
            @include for-small-screen {
         
            }
         
            @include for-tablet {
               width: 50%;
            }
         
            @include for-desktop {
               width: 50%;
            }
         
            @include for-large-screen {
               width: 50%;
            }
            
            overflow: hidden;
            .today-forecast {
               display: flex;
               justify-content: center;
               .today-forecast__temperature {
                  max-width: 62%;
                  position: relative;
                  .today-forecast__value {
                     @include for-small-screen {
                        font-size: #{$xs-screen-font-size};
                     }
                  
                     @include for-tablet {
                        font-size: #{$sm-screen-font-size};
                     }
                  
                     @include for-desktop {
                        font-size: #{$md-screen-font-size};
                     }
                  
                     @include for-large-screen {
                        font-size: #{$xl-screen-font-size};
                     }
                     font-weight: 600;
                  }
                  .today-forecast__degree {
                     position: relative;
                     font-weight: 600;
                     
                     @include for-small-screen {
                        top: -80px;
                        font-size: 30px;
                        line-height: #{$sm-screen-font-size};
                     }
                  
                     @include for-tablet {
                        top: -120px;
                        font-size: 40px;
                        line-height: #{$md-screen-font-size};
                     }
                  
                     @include for-desktop {
                        top: -90px;
                        font-size: 50px;
                        line-height: #{$lg-screen-font-size};
                     }
                  
                     @include for-large-screen {
                        top: -160px;
                        font-size: 80px;
                        line-height: #{$xl-screen-font-size};
                     }
                  }

                  .F-unit__value{ 
                     font-size: 200px !important;
                  }
                  .F-unit__units {
                     top: -100px !important;
                     font-size: 70px !important;
                     line-height: 200px !important;
                  }
               }
               .today-forecast__weather {
                  margin-left: 20px;
                  .today-forecast__image{
                     width: 100%;
                  }
                  .today-forecast__details {
                     position: relative;
                     top: -30px;
                     .today-forecast__item {
                        @include for-small-screen {
                           font-size: 16px;
                        }
                     
                        @include for-tablet {
                           font-size: 18px;
                        }
                     
                        @include for-desktop {
                           font-size: 16px;
                        }
                     
                        @include for-large-screen {
                           font-size: 22px;
                        }

                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 0.5px;
                     }
                  }
               }
            }
            .next-forecast {
               .next-forecast__list{
                  display: flex;

                  .next-forecast__item {
                     width: 33.333%;
                     .next-forecast__title {
                        @include for-small-screen {
                           font-size: 16px;
                        }
                     
                        @include for-tablet {
                           font-size: 16px;
                        }
                     
                        @include for-desktop {
                           font-size: 18px;
                        }
                     
                        @include for-large-screen {
                           font-size: 24px;
                        }
   
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                     }
                     .next-forecast__body {
                        display: flex;
                        align-items: center;
                        .next-forecast__bar{
                           display: flex;
                           .next-forecast__value {
                              @include for-small-screen {
                                 font-size: 48px;
                              }
                           
                              @include for-tablet {
                                 font-size: 56px;
                              }
                           
                              @include for-desktop {
                                 font-size: 60px;
                              }
                           
                              @include for-large-screen {
                                 font-size: 70px;
                              }
                              font-weight: 600;
                           }
                           .next-forecast__units {
                              position: relative;
                              left: 5px;
                              
                              @include for-small-screen {
                                 font-size: 48px;
                              }
                           
                              @include for-tablet {
                                 top:5px;
                                 font-size: 20px;
                              }
                           
                              @include for-desktop {
                                 top:8px;
                                 font-size: 18px;
                              }
                           
                              @include for-large-screen {
                                 top:10px;
                                 font-size: 24px;
                              }
                           }
                        }
   
                        .next-forecast__icon{
                           width: 45%;
                        }
                        
                     }
                  }
               }
            }
         }

         .right-wrapper {
            @include for-small-screen {
               
            }
         
            @include for-tablet {
               width: 45%;
            }
         
            @include for-desktop {
               
               width: 45%;
            }
         
            @include for-large-screen {
               width: 35%;
            }
            .map {
               #map-canvas {
                  height: 0;
                  margin-left: auto;
                  padding-bottom:90%;
                  border-radius: 10px;

                  .mapboxgl-canvas{
                     left: 0;
                  }
               }

               .map__details {
                  width: 100%;
                  .map__item {
                     width: fit-content;
                     margin-left: auto;
                     font-weight: 500;

                     @include for-small-screen {
               
                     }
                  
                     @include for-tablet {
                        font-size: 16px;
                     }
                  
                     @include for-desktop {
                        font-size: 18px;
                     }
                  
                     @include for-large-screen {
                        font-size: 20px;
                     }
                  }
               }
            }
         }
      }
   }

   // WRAPPER
}
